{% extends "::meditec.html.twig" %}

{% block  title %}
    {{ parent() }} - Financement {% endblock %}
{% block meta %}
  <meta name="description" content="Meditec Dental et son partenaire CMV Mediforce, vous proposent une solution de financement pour votre cabinet dentaire." />
  <meta name="keywords" content="Meditec,dental,meditec dental,informatique,dentaire,radiologie,radiologies,capteur,générateur,dentiste,cabinet dentaire,Easyste,stérilisation,application,développement,financement,crédit,CMV,CMV Médiforce,Le financement des
professionnels de santé,crédit-bail">
{% endblock %}
{% block selection %} {% endblock %}
{% block contend %}
      <!-- Page Content-->
      <main class="page-content">
        <section class="section section-inset-1 bg-light">
          <div class="container">
            <h3>Financement</h3>
            <hr>
            <div class="row justify-content-center">
              <div class="col-12 col-lg-8 col-lg-offset-2">
                <div class="thumbnail"><img class="rounded-circle" src="{{ asset('MDMeditec/public/images/CMV-Mediforce_400x400.jpg') }}" alt="Solution de financement CMV médiforce ">
                  <div class="caption-mod-1">

                    <ul class="list-inline">
                      <li><a class="fa-facebook" href="https://www.facebook.com/CMV-M%C3%A9diforce-146576195764467/"></a></li>
                      <li><a class="fa-twitter" href="https://twitter.com/cmvmediforce"></a></li>
                    </ul><br />
                    <p class="text-md-left">Quel que soit votre choix CMV Médiforce finance tous vos types de matériels : matériel médical, dentaire, radiologique, équipement informatique, mobilier pour le cabinet ou la salle d’attente.</p>
                    <p class="text-md-left">L’ensemble des besoins en équipement des professionnels de santé est couvert par notre gamme de financements.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section section-inset-1 bg-accent">
          <div class="container">
            <h3>Les solutions crédit</h3>
            <hr>
            <div class="row justify-content-center">
              <div class="container">
                <div class="row row-45 offset-custom-5">
                  <div class="col-6">
                    <div class="well4 ">
                      <h5>Le crédit-bail matériel médical</h5>
                      <p class="text-md-left">  C’est une location avec option d’achat (LOA) dont les loyers sont intégralement déductibles de vos revenus. Pour optimiser votre fiscalité le premier loyer peut être augmenté.</p>
                      <h6 class="text-md-left"><span class="icon icon-success icon-sm fa-angle-right"></span> Une liberté de choix </h6>
                      <h6 class="text-md-left"><span class="icon icon-success icon-sm fa-angle-right"></span> Imposition allégée </h6>
                      <h6 class="text-md-left"><span class="icon icon-success icon-sm fa-angle-right"></span> Financement souple </h6>
                    </div>
                    <br>
                    <div class="text-lg-right">
                      <a class="" href="https://www.cmvmediforce.fr/materiel-medical/credit-bail-materiel-medical-leasing/" target="_blank">
                        En savoir plus &nbsp; <span class="icon icon-xs fa-arrow-right"></span>
                      </a>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="well4 ">
                      <h5>Le crédit-bail matériel médical</h5>
                      <p class="text-md-left">  C’est une solution de prêt classique. Comme vous achetez à titre professionnel, vous amortissez le matériel et vous déduisez les intérêts d’emprunt de vos revenus.</p>
                      <h6 class="text-md-left"><span class="icon icon-success icon-sm fa-angle-right"></span> Financement d’un équipement neuf ou d'occasion  </h6>
                      <h6 class="text-md-left"><span class="icon icon-success icon-sm fa-angle-right"></span> Financement à la carte </h6>
                      <h6 class="text-md-left"><span class="icon icon-success icon-sm fa-angle-right"></span> Taux fixes très compétitifs </h6>
                    </div>
                    <br>
                    <div class="text-lg-right">
                      <a class="" href="https://www.cmvmediforce.fr/materiel-medical/credit-classique-materiel-medical/" target="_blank">
                        En savoir plus &nbsp; <span class="icon icon-xs fa-arrow-right"></span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
{% endblock %}