{% extends "::admin.html.twig" %}

{% block title %}{{ parent() }} - Accueil {% endblock %}

{% block contend %}
<!-- Page Content-->
      <main class="page-content">

        <section class="section section-inset-1">
          <div class="container">
            <h2>Administration</h2>
          
          </div>
        </section>
      </main>
{% endblock %}



