{% extends "::admin.html.twig" %}

{% block title %}{{ parent() }} - Accueil {% endblock %}

{% block contend %}
<!-- Page Content-->
<main class="page-content">
  <section class="section section-inset-1">
    <div class="container">          
        <div class="row row-45 justify-content-end">
            <div class="col-12 section-inset-1">
                  <h4>Les chiffres</h4><hr/>
              <div class="btn-group-variant"><a class="btn btn-success btn-sm btn-icon" href="{{ path('MD_Admin_CSV') }}"><span class="icon fa fa-file-excel-o"></span> Export CSV</a></div>
             <br/>
              <div class="table-responsive">
                <table class="table table-hover text-left" table style="width:100%">
                  <thead>
                    <tr class="bg-accent">
                      <th colspan="3" class="text-center">E-mail</th>     
                    </tr>
                  </thead>
                  <tbody>
                    {% set i = 0 %}
                    {% for news in listeNewsletter %}
                        {% if i==0 %}
                           <tr> 
                        {% endif %}
                          <td class="text-center">{{ news.mail }}</td>
                        {% set i = i+1 %}
                        {% if i==3 %}
                           </tr> 
                        {% endif %}
                    {% endfor %}
                    {% if i<3 %}
                        </tr> 
                     {% endif %}
                  </tbody>
                </table>
              </div>
                {% if message is not empty %}
                    <div class="alert alert-success" role="alert">{{ message }}</div>
                {% endif %}
            </div>
        </div>
    </div>
  </section>
</main>
{% endblock %}



